---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import Pricing from '../components/Pricing.astro';
import Features from '../components/Features.astro';
import SocialProofVideo from '../components/SocialProofVideo.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';

// A promoção é de Aniversário e requer impacto visual!
---

<Layout title="Ratoeira Ads - 2 Anos (Edição Especial)">
  <Header />
  <main>
    <Hero />
    <SocialProof />
    <Pricing />
    <Features />
    <SocialProofVideo />
    <FAQ />
  </main>
  <Footer />
</Layout>
